html{
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    background: linear-gradient(45deg, #ffa78f, #ffd3df);
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}

.wrapper{
    
    flex-basis: 95%;
    height: 95%;
    padding: 20px 35px;

    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.30);
}

.view-bar{
    font-size: 15px;
    padding: 20px;

    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span{
    font-size: 15px;
    padding: 10px;
}

button{
    width: 40px;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    margin: 2px;

    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    overflow: auto;
    color: #232323;
}

button:hover{
    background-color: inherit;
    color: inherit;
}

#joystick {
    border-radius: 50%;

    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);

    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
}

#head-frame{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.head{
    height: 200px;
    width: 100px;
    margin: 10px;
}